body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: none;
    border-color: rgb(101, 233, 233);
    font-family: sans-serif;
    min-height: 100vh;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 256, 256);
    color: black;
    text-align: center;
}

/* #logo{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
} */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

nav a {
    text-decoration: none;
    color:black;
}

.dropdown {
    position: relative;
}
  
.dropdown-options {
    display: none;
    position: absolute;
    overflow: none;
}
  
.dropdown:hover .dropdown-options {
    display: flex;
    flex-direction: column;
}
  
.button {
    background: rgb(101, 256, 256);
    color:black;
    border: none;
    font-size: medium;
    font-family: sans-serif;
}

.button:hover {
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.drop-item {
  text-decoration: none;
  color:black;
  border: solid 1px rgb(101, 233, 233);
  background: rgb(101, 256, 256);
  padding: 1em;
  font-size: 0.9em;
  font-family: sans-serif;
}

.drop-item:hover {
    background: rgb(255, 255, 255);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 256, 256);
    color: black;
    text-align: center;
    font-size: small;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20rem;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer li{
    padding-bottom: 0.4rem;
}

#titulo{
    font-weight: bold;
    padding-bottom: 1.2rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover {
    background: rgb(255, 255, 255);
}

footer p{
    font-weight: bold;
    font-size: x-small;
    padding-top: 0.8rem;
}

#logo-footer{
    padding-top: 3rem;
}

main{
    background-color: rgb(255, 255, 255);
}

.formulario_main{
    height: 100%;
}