body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: none;
    border-color: rgb(101, 233, 233);
    font-family: sans-serif;
    min-height: 100vh;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 256, 256);
    color: black;
    text-align: center;
}

#logo img{
    height: 100px;
    width: 160px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

nav a {
    text-decoration: none;
    color:black;
}

.dropdown {
    position: relative;
}
  
.dropdown-options {
    display: none;
    position: absolute;
    overflow: none;
}
  
.dropdown:hover .dropdown-options {
    display: flex;
    flex-direction: column;
}
  
.button {
    background: rgb(101, 256, 256);
    color:black;
    border: none;
    font-size: medium;
    font-family: sans-serif;
}

.button:hover {
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.drop-item {
  text-decoration: none;
  color:black;
  border: solid 1px rgb(101, 233, 233);
  background: rgb(101, 256, 256);
  padding: 1em;
  font-size: 0.9em;
  font-family: sans-serif;
}

.drop-item:hover {
    background: rgb(255, 255, 255);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 256, 256);
    color: black;
    text-align: center;
    font-size: small;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20rem;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer li{
    padding-bottom: 0.4rem;
}

#titulo{
    font-weight: bold;
    padding-bottom: 1.2rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover {
    background: rgb(255, 255, 255);
}

footer li a:hover{
    background: none;
}

footer p{
    font-weight: bold;
    font-size: x-small;
    padding-top: 0.8rem;
}

#logo-footer{
    padding-top: 0.8rem;
}

#logo-footer img{
    height: 120px;
    width: 120px;
}

#logo-footer a:hover{
    background: none;
}

main{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.formulario_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#form_titulo{
    padding-bottom: 10px;
}

.formulario_solicitud{
    background: rgb(82, 118, 238);
    border: solid 1px black;
    padding: 3em;
    border-radius: 0.5em;
    box-shadow: black 4px 1px 3px;
    color: #fff;
    text-align: center;
}

.formulario_solicitud_productos div{
    margin-top: 1em;
    text-align: justify;
}

.formulario_solicitud_productos input{
    width: 60%;
}

#campos{
    text-align: center;
}

#enviar{
    text-align: end;
}

.enviar-button {
    margin-top: 1em;
    padding: 0.8em 1.2em;
    border-radius: 0.5em;
    border: none;
    background-color: #063db6;
    color: #eff6ff;
    font-weight: 700;
    transition: ease-in-out 0.2s;
}
  
.enviar-button:hover {
    background-color: #4b8cee;
    cursor: pointer;
}

/* #comentarios {
    height: 100px;
    width: 100%;
    padding: 10px;
}

.formulario_solicitud_productos #adicional input{
    text-align: left;
} */

.formulario_solicitud_productos textarea{
    height: 100px;
    width: 100%;
    padding: 10px;
    margin-top: 1em;
}

.ciberseguridad {
    text-align: center;
}

main img{
    height: 300px;
    width: 300px;
}

aside{
    text-align: center;
}

aside img{
    height: 200px;
    width: 400px;
}

.main_productos{
    display: flex;
    flex-direction: column;
}

.contenedor_servicios_empresas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor_servicios_individuos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card_productos{
    background: rgb(82, 118, 238);
    border: solid 1px black;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: black 4px 1px 3px;
    color: #fff;
    text-align: justify;
    width: 450px;
    height: 450px;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.titulo_producto{
    text-align: center;
}

.card_productos img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 160px;
    width: 150px;
}

.card_productos li{
    padding-bottom: 0.5em;
}

.main_nosotros{
    text-align: center;
    height: 100%;
}

.info_nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box_nosotros{
    background: rgb(82, 118, 238);
    border: solid 1px black;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: black 4px 1px 3px;
    color: #fff;
    text-align: justify;
    width: 450px;
    height: 420px;
    margin-left: 3em;
}

.box_nosotros li{
    padding-bottom: 0.5em;
}

.box_titulos{
    text-align: center;
}





